@model lagu.Entity.Genre

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Genre</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id_genre_)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_genre_)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nama_genre_)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nama_genre_)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_genre_}, new { @class = "btn btn-success" }) |
    @Html.ActionLink("Back to List", "Index", new { @area = "" }, new { @class = "btn btn-info" })
</p>
