@model IEnumerable<lagu.Entity.Lagu>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nama Lagu
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nama_lagu)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.C_id_lagu }) |
            @Html.ActionLink("Details", "Details", new { id = item.C_id_lagu }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.C_id_lagu })
        </td>
    </tr>
}

</table>
