@model IEnumerable<lagu.Entity.Band>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_band)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nama_band)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.biografi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id_band)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nama_band)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.biografi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_band }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_band }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.id_band })
        </td>
    </tr>
}

</table>
