@model lagu.Entity.Album

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Album</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id_album)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_album)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.jml_album)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jml_album)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nama_album_)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nama_album_)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tahun)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tahun)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.foto_album)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.foto_album)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_genre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_band)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_band)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_album }, new { @class = "btn btn-success" }) |
    @Html.ActionLink("Back to List", "Index", new { @area = "" }, new { @class = "btn btn-info" }))
</p>
